{% extends 'base.html' %} 

{% block title %} {{ player.player_name }}'s Stats {% endblock %}

{% block content %}
<div class="container">
    <div class="player-intro">
        <div class="player-title">
            <h2>{{ player.player_name }}</h2>
        </div>
        <div class="player-stats">
            <div class="stat">
                <h4>Total Wins</h4>
                <p>{{ player.win_count() }}</p>
            </div>
            <div class="stat">
                <h4>Total Win Rate</h4>
                <p>{{ player.winrate() }}%</p>
            </div>
            <div class="stat">
                <h4>Best Game</h4>
                {% for game in player.best_game() %}
                <p class="best-game">      
                    {{game}}     
                </p>
                {% endfor %}
            </div>
        </div>
    </div>   
    <div class="player-history">
        <div class="table-container">
            <div class="title-container">
                <h4>Win History</h4>
            </div>
            <table id="win-history" class="table">
            <thead>
                <tr>
                    <th scope="col">Game</th>
                    <th scope="col">Wins</th>
                </tr>
            </thead>
            {% if not no_games %}
                <tbody>
                    {% for k,v in player.top_games() %}
                        <tr>
                            <td>{{k}}</td>
                            <td>{{v}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td>No games played</td>
                        <td></td>
                    </tr>
                </tbody>
            {% endif %}
            </table>
        </div>
        <div class="table-container">
            <div class="title-container">
                <h4>Recent Games</h4>
            </div>
            <table id="recent-games" class="table">
                <thead>
                    <tr>
                        <th scope="col">Game</th>
                        <th scope="col">Date</th>
                        <th scope="col">Win?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in last_ten %}
                        <tr>
                            <td>{{ game.game_name() }}</td>
                            <td>{{ game.format_date() }}</td>
                            {% if player.won_game(game) %}
                                <td>W</td>
                            {% else %}
                                <td>L</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}