{% extends 'base.html' %} 

{% block title %} {{ player.player_name }}'s Stats {% endblock %}

{% block content %}
<div>
    <div>
        <div>
            <h2>{{ player.player_name }}</h2>
        </div>
        <div>
            <h4>Total Wins</h4>
            <p>{{ player.win_count() }}</p>
            <h4>Total Win Rate</h4>
            <p>{{ player.winrate() }}</p>
            <h4>Best Game</h4>
            <p>{{ player.best_game() }}</p>
        </div>
    </div>   
    <div>
        <div>
            <h4>Win History</h4>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Game</th>
                    <th scope="col">Wins</th>
                </tr>
            </thead>
            <tbody>
                {% for k,v in player.top_games() %}
                    <tr>
                        <td>{{k}}</td>
                        <td>{{v}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <div>
            <h4>Recent Games</h4>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Game</th>
                    <th scope="col">Date</th>
                    <th scope="col">Win?</th>
                </tr>
            </thead>
            <tbody>
                {% for game in last_ten %}
                    <tr>
                        <td>{{ game.game_name() }}</td>
                        <td>{{ game.date }}</td>
                        {% if player.won_game(game) %}
                            <td>W</td>
                        {% else %}
                            <td>L</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}