.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    text-align: center;
}

.player-title {
    margin-bottom: 20px;
}

.player-stats {
    align-self: center;
    margin-top: 10px;
    width: 30%;
    border: 2px solid;
}

.stat {
    padding-top: 5px;
    border: 1px solid;
    margin: 10px;
    font-weight: bold;
}


.best-game {
    margin-top: 20px;
}

.player-history {
    margin-top: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-container {
    margin: auto;
}

.table-container { 
    width: 100%;
}

.table {
    width: 70%;
}






